
/* The fonts we want to use **/
@font-face {
    font-family: "Sen";
    src: url("../font/Sen-Bold.woff2") format('woff2'),
         url("../font/Sen-Bold.woff") format('woff'),
         url("../font/Sen-Bold.ttf") format('truetype');
    font-weight: normal;
  }  


/* Set some variables to make development easier. */
:root {
    --main-background-color: rgb(216, 215, 215);
    --secondary-background-color: #ccccccff;
    --text-color: rgb(0, 0, 0);
    --card-icon-color: #000000;

    --main-fonts: "Sen", "Gilroy", "Circular Std", "TT Commons", "Futura", "Alata", sans-serif;
}

/** Dark mode theme. Auto-applied based on OS/browser settings. **/
@media (prefers-color-scheme: dark) {
    :root {
        --main-background-color: rgb(54, 54, 54);
        --secondary-background-color: #242323;
        --text-color: rgb(209, 208, 208);
        --card-icon-color: #FFFFFF;
    }
}


body {
    overflow-y: scroll;
    overflow-x: hidden;
    width:100vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14pt;

    background-color: var(--main-background-color);
    color: var(--text-color);
    font-family: var(--main-fonts);
}

card {
    background-color: var(--secondary-background-color);
    display: block;
    border-radius: 2mm;
    padding: 4mm;
}

card.no-background {
    background: none;
}

searchEngine #search-query {
    width: 100%;
    max-width: 128mm;
    outline-color: white;
}

searchEngine #search-query, searchEngine input[type="submit"] {
    padding: 3mm;
    border-radius: 2mm;
    border: none;
    outline-style: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

titlebar h1 {
    margin-bottom: 8mm;
}

center {
    text-align: center;
}

main {
    display: block;
}

navigationBar {
    background-color: var(--secondary-background-color);
    position: fixed;
    left: 0;
    width: 80mm;
    height: 100vh;
    border-radius: 0;
}

navigationBar #aberdock_logo {
    width: 100%;
    margin-bottom: 5mm;
}

navigationBar mainLinks a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 3mm;
    background-color: var(--main-background-color);
}

mainContainer {
    position: absolute;
    left: 80mm;
    width: -moz-available;
    width: -webkit-fill-available;
}

mainContainer main {
    padding: 5mm;
}

bottomUserOptions {
    position: absolute;
    bottom: 0;
    padding: 3mm;
    width: -moz-available;
    width: -webkit-fill-available;
}

bottomUserOptions userName {
    display: flex;
    align-items: center;
}

bottomUserOptions userName span {
    margin-left: 3mm;
}

.navbar-profile-img {
    width: 10mm;
    height: 10mm;
    background-color: var(--main-background-color);
    border-radius: 10mm;
}

searchCategoriesContainer {
    width: 100%;
    display: table;
    padding: 30pt 0 0 0;
}

searchCategoryParent {
    display: table-cell;
}

searchCategoryChild {
    display: block;
    padding: 3mm 8mm;
}

torrentBrowser card {
    margin: 1mm;
}

torrentBrowser card p {
    margin: 0;
    font-size: 12pt;
}

torrentBrowser i {
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--card-icon-color);
    width: 20px;
    height: 20px;
    display: inline-flex;
}

torrentBrowser card options {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 100;
}

i.download {
    -webkit-mask-image: url(../img/file_download_white_24dp.svg);
    mask-image: url(../img/file_download_white_24dp.svg);
}

i.bookmark {
    -webkit-mask-image: url(../img/bookmark_border_white_24dp.svg);
    mask-image: url(../img/bookmark_border_white_24dp.svg);
}

i.like {
    -webkit-mask-image: url(../img/favorite_border_white_24dp.svg);
    mask-image: url(../img/favorite_border_white_24dp.svg);
}

i.info {
    -webkit-mask-image: url(../img/info_white_24dp.svg);
    mask-image: url(../img/info_white_24dp.svg);
}

.tiny-spacer {
    height: 1mm;
    width: 100mm;
    box-sizing: border-box;
    padding: 0;
    position: relative;   
}
