
/* The fonts we want to use **/
@font-face {
    font-family: "Sen";
    src: url("../font/Sen-Bold.woff2") format('woff2'),
         url("../font/Sen-Bold.woff") format('woff'),
         url("../font/Sen-Bold.ttf") format('truetype');
    font-weight: normal;
  }  


/* Set some variables to make development easier. */
:root {
    --main-background-color: #ffffff;
    --secondary-background-color: #ccccccff;
    --text-color: rgb(0, 0, 0);
    --card-icon-color: #000000;

    --standard-border-radius: 2mm;

    --input-padding-horizontal: 3.5mm;
    --input-padding-vertical: 2.3mm;
    --input-preferred-width: 128mm;

    --main-fonts: "Sen", "Gilroy", "Circular Std", "TT Commons", "Futura", "Alata", sans-serif;
}

/** Dark mode theme. Auto-applied based on OS/browser settings. **/
@media (prefers-color-scheme: dark) {
    :root {
        --main-background-color: rgb(54, 54, 54);
        --secondary-background-color: #242323;
        --text-color: rgb(209, 208, 208);
        --card-icon-color: #FFFFFF;
    }
}

navigationcontainer .open-navbar-button, navigationcontainer .close-navbar-button {
    display: none;
}

navigationcontainer .open-navbar-button:hover {
    cursor: pointer;
}

#open-navbar {
    display: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors#combinators */
input[type=checkbox]:checked ~ navigationBar {
    display: block !important;
    z-index: 2;
}

input[type=checkbox]:checked ~ .open-navbar-button {
    /*visibility: hidden !important;
    height: 0px !important;*/
    
}

navigationcontainer .close-navbar-button {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000082;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    width:100vw;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 14pt;

    background-color: var(--main-background-color);
    color: var(--text-color);
    font-family: var(--main-fonts);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

card {
    background-color: var(--secondary-background-color);
    display: block;
    border-radius: var(--standard-border-radius);
    padding: 4mm;
}

card.rounded-top-corners {
    border-radius: var(--standard-border-radius) var(--standard-border-radius) 0mm 0mm;
}

card.no-rounded-corners {
    border-radius: 0;
}

card.no-background {
    background: none;
}

searchEngine #search-query {
    width: 100%;
    max-width: 128mm;
    outline-color: white;
}

searchEngine #search-query,
searchEngine input[type="submit"],
torrentContainer button
{
    padding: 3mm;
    border-radius: var(--standard-border-radius);
    border: none;
    outline-style: none;
    box-shadow: none;
    background-color: var(--secondary-background-color);
}

torrentContainer button {
    background-color: var(--main-background-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

titlebar h1 {
    margin-bottom: 8mm;
}

center {
    text-align: center;
}

main {
    display: block;
}

navigationBar {
    background-color: var(--secondary-background-color);
    position: fixed;
    left: 0;
    width: 80mm;
    height: 100vh;
    border-radius: 0;
}

navigationBar #aberdock_logo {
    width: 100%;
    margin-bottom: 5mm;
}

navigationBar mainLinks a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 3mm;
    background-color: var(--main-background-color);
}

navigationBar i {
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--card-icon-color);
    width: 20px;
    height: 20px;
    display: inline-flex;
    vertical-align: text-bottom;
}

mainContainer {
    position: absolute;
    left: 80mm;
    width: -moz-available;
    width: -webkit-fill-available;
}

mainContainer main {
    padding: 5mm;
}

bottomUserOptions {
    position: absolute;
    bottom: 0;
    padding: 3mm;
    width: -moz-available;
    width: -webkit-fill-available;
}

bottomUserOptions userName {
    display: flex;
    align-items: center;
}

bottomUserOptions userName span {
    margin-left: 3mm;
    width: 100%;
    overflow: hidden;
}

.navbar-profile-img {
    width: 10mm;
    height: 10mm;
    background-color: var(--main-background-color);
    border-radius: 10mm;
}

searchCategoriesContainer {
    width: 100%;
    display: table;
    padding: 30pt 0 0 0;
}

searchCategoryParent {
    display: table-cell;
}

searchCategoryChild {
    display: block;
    padding: 3mm 8mm;
}

torrentBrowser card {
    margin: 1mm;
}

torrentBrowser card p {
    margin: 0;
    font-size: 12pt;
}

torrentBrowser i {
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--card-icon-color);
    width: 20px;
    height: 20px;
    display: inline-flex;
}

torrentBrowser card options {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 100;
}

a.profile-link {
    text-decoration: underline;
}

i.download {
    -webkit-mask-image: url(../img/download.svg);
    mask-image: url(../img/download.svg);
}

i.bookmark {
    -webkit-mask-image: url(../img/bookmark.svg);
    mask-image: url(../img/bookmark.svg);
}

i.like {
    -webkit-mask-image: url(../img/favorite.svg);
    mask-image: url(../img/favorite.svg);
}

i.info {
    -webkit-mask-image: url(../img/info.svg);
    mask-image: url(../img/info.svg);
}

i.search {
    -webkit-mask-image: url(../img/search.svg);
    mask-image: url(../img/search.svg);
}

i.upload {
    -webkit-mask-image: url(../img/upload.svg);
    mask-image: url(../img/upload.svg);
}

i.statistics {
    -webkit-mask-image: url(../img/statistics.svg);
    mask-image: url(../img/statistics.svg);
}

i.login {
    -webkit-mask-image: url(../img/login.svg);
    mask-image: url(../img/login.svg);
}

i.administration {
    -webkit-mask-image: url(../img/admin.svg);
    mask-image: url(../img/admin.svg);
}

i.hamburger-menu {
    -webkit-mask-image: url(../img/menu.svg);
    mask-image: url(../img/menu.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--card-icon-color);
    display: inline-flex;
    vertical-align: text-bottom;
}

.open-navbar-button, i.hamburger-menu, navigationBarToggleSpacer {
    width: 50px;
    height: 50px;
}

navigationBarToggleSpacer {
    display: none;
}

statisticsSummaryBox {
    width: 200px;
    display: inline-flex;
}

statisticsSummaryBoxContainer {
    width: 100%;
    display: block;
    text-align: center;
}

statisticsSummaryBoxContainer statisticsSummaryBox card {
    margin: 10px 0;
}

statisticsSummaryBox span {
    height: 50px;
    display: block;
}

statisticsSummaryBox div {
    width: 100%;
}

statisticsTableHeader {
    display: flow-root;
}

statisticsTableHeader span {
    display: inline-block;
    float: right;
    margin: 0 0 0 30px;
    width: 80px;
    text-align: center;
}

statisticsTableHeader span.username {
    width: 40%;
    float: left;
    margin: 0;
    text-align: left;
}

.margin-top-2mm {
    margin-top: 2mm;
}

smallSeperator {
    display: block;
    margin-top: 4mm;
}

tinySeperator {
    height: 1mm;
    width: 100mm;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    display: block;
}

uploadArea textarea {
    width: 100%;
    max-width: 100%;
    min-height: 300px;
}

input[type=text], input[type=password], input[type=number], select, textarea {
    border-radius: var(--standard-border-radius);
    padding: var(--input-padding-vertical) var(--input-padding-horizontal) var(--input-padding-vertical) var(--input-padding-horizontal);
    box-sizing: border-box;
    border: none;
    width: 100%;
    max-width: var(--input-preferred-width);
    outline-style: none;
    outline-color: white;
    background-color: var(--main-background-color);
    color: var(--text-color)
}

input[type=color] {
    border: none;
    padding: 0;
}

input[type=submit], input[type=file], button {
    border-radius: var(--standard-border-radius);
    padding: var(--input-padding-vertical) var(--input-padding-horizontal) var(--input-padding-vertical) var(--input-padding-horizontal);
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline-style: none;
    box-shadow: none;
    position: relative;
    bottom: 0;
    background-color: var(--main-background-color);
    color: var(--text-color)
}

input[type="file"] {
    width: 100%;
    max-width: var(--input-preferred-width);
    background-color: var(--main-background-color);
}

input[type="file"]:hover, input[type="submit"]:hover, input[type="checkbox"]:hover, select, button {
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0;
}

card.login-card {
    width: 400px;
    height: 370px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}

card.registration-card {
    height: 465px;
}

card.error-card {
    width: 600px;
}

card.login-card-title {
    background-color: white;
    color: black;
    text-align: center;
}

loginContainer, errorContainer {
    display: block;
    width: 100%;
    height: 100%;
    background-color:  #0000000a;
    /*backdrop-filter: blur(3mm); This breaks the UI after adding DOCTYPE html */
}

loginCardContainer {
    padding: 10mm;
    display: block;
    font-size: 11pt;
}

loginCardContainer input[type="submit"] {
    float: right;
}

errorCardConainer {
    padding: 5mm;
    display: block;
    font-size: 11pt;
}

body.login-background {
    background-image: url(../img/login-background.jpg);
    /*background-position: center;  This breaks the UI after adding DOCTYPE html */
    background-repeat: no-repeat;
    background-size: cover;
}

profileContainer .profile-img {
    width: 70mm;
    height: 70mm;
    background-color: var(--main-background-color);
    border-radius: 35mm;
}

profileContainer card, torrentContainer card.torrent-stats {
    display: flex;
}

torrentContainer card.torrent-stats {
    padding: 0;
}

profileContainer stats, torrentContainer stats {
    margin: 0 0 0 10mm;
}

torrentContainer .torrent-cover-img {
    width: 70mm;
}

torrentContainer pre, errorContainer pre {
    background-color: var(--main-background-color);
    border-radius: var(--standard-border-radius);
    margin: 0;
    padding: 3mm;
}

errorContainer pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

adminGroupsContainer table, adminTorrentCategoryContainer table {
    width: 100%;
}

adminGroupsContainer table td, adminTorrentCategoryContainer table td {
    text-align: center;
}

table .left-align {
    text-align: left;
}

table .right-align {
    text-align: right;
}

adminGroupsContainer table label, adminTorrentCategoryContainer table label {
    display: none;
}

tr.admin-category-child {
    margin-left: 5mm;
}

topBar {
    display: none;
}

pre.torrent-description {
    white-space: pre-wrap;
}

pre.torrent-files {
    overflow-x: scroll;
}

@media all and (max-width: 400mm) {
    .invert-input-background-mobile input[type="text"],
    .invert-input-background-mobile input[type="password"],
    .invert-input-background-mobile input[type="number"],
    .invert-input-background-mobile input[type="submit"],
    .invert-input-background-mobile select,
    .invert-input-background-mobile textarea {
        background-color: var(--secondary-background-color);
    }

    input.no-invert-input-background-mobile,
    select.no-invert-input-background-mobile ,
    textarea.no-invert-input-background-mobile  {
        background-color: var(--main-background-color) !important;
    }


    adminGroupsContainer table label, adminTorrentCategoryContainer table label {
        margin-right: 2mm;
        width: 50mm;
        display: inline-block;
    }

    adminGroupsContainer table th, adminTorrentCategoryContainer table th {
        display: none;
    }

    adminGroupsContainer table tr, adminTorrentCategoryContainer table tr {
        background-color: var(--main-background-color);
        display: block;
        border-radius: var(--standard-border-radius);
        padding: 4mm;
        margin: 0 0 4mm 0;
    }

    adminGroupsContainer table td, adminTorrentCategoryContainer table td {
        display: block;
        text-align: left;
    }

    .table-header {
        display: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    td.group-name {
        margin: 0 0 2mm 0;
        font-weight: bold;
        font-size: 14pt;
    }

    td button {
        margin: 4mm 0 0 0;
    }

    adminGroupsContainer button, adminTorrentCategoryContainer button {
        background-color: var(--secondary-background-color);
    }
}

@media all and (max-width: 200mm) {
    navigationBar {
        display: none;
    }

    mainContainer {
        left: 0;
    }

    topBar {
        display: block;
        background-color: red;
        height: 16mm;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    navigationBar {
        display: none;
    }

    navigationcontainer .open-navbar-button {
        display: block;
        position: absolute;
    }

    navigationBarToggleSpacer {
        display: block;
    }

    input[type=checkbox]:checked ~ .close-navbar-button {
        z-index: 2;
        display: block;
    }
}